---
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterFunction: true
    AfterControlStatement: true
    BeforeElse: true
    BeforeCatch: true
IndentCaseLabels: true
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
UseTab: Never
...
